/* Compass
------------------------------*/
@import "compass";
@import "compass/css3";

$background: #272822;
$pink: #f92672;
$orange: #fd971f;

*{ 
	box-sizing: border-box; 
	-webkit-backface-visibility: hidden; //Active GPU rendering
	-webkit-perspective: 1000; //Active GPU rendering
}
html, body{ background: $background; color: $orange; font-family: sans-serif; font-size: 20px; text-shadow: 1px 1px 10px #000;}
h1{ color: #f92672; }
