/* Compass
------------------------------*/
/* line 5, ../sass/styles.scss */
html, body {
  background: #272822;
  color: #fd971f;
  font-family: sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 10px black;
}

/* line 6, ../sass/styles.scss */
h1 {
  color: #f92672;
}
